_ignore
font.ufo
font.ttf
*.log
*.tmp
*.fpr
.sync
Production/Yrsa/Bold/current.fpr
Production/Yrsa/Light/current.fpr
Production/Yrsa/Medium/current.fpr
Production/Yrsa/Regular/current.fpr
Production/Yrsa/Semibold/current.fpr
