<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>732</integer>
	<key>capHeight</key>
	<integer>568</integer>
	<key>descender</key>
	<integer>-204</integer>
	<key>familyName</key>
	<string>Rasa</string>
	<key>openTypeHeadCreated</key>
	<string>2016/03/11 11:51:54</string>
	<key>openTypeNameDesigner</key>
	<string>Anna Giedrys, David Brezina</string>
	<key>openTypeNameDesignerURL</key>
	<string>http://rosettatype.com</string>
	<key>openTypeNameManufacturer</key>
	<string>Rosetta Type Foundry</string>
	<key>openTypeNameManufacturerURL</key>
	<string>http://rosettatype.com</string>
	<key>openTypeNamePreferredFamilyName</key>
	<string>Rasa</string>
	<key>openTypeNamePreferredSubfamilyName</key>
	<string>Light</string>
	<key>openTypeOS2TypoAscender</key>
	<integer>930</integer>
	<key>openTypeOS2TypoDescender</key>
	<integer>440</integer>
	<key>openTypeOS2TypoLineGap</key>
	<integer>0</integer>
	<key>openTypeOS2WeightClass</key>
	<integer>300</integer>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>postscriptBlueValues</key>
	<array>
		<integer>-13</integer>
		<integer>0</integer>
		<integer>413</integer>
		<integer>424</integer>
		<integer>500</integer>
		<integer>523</integer>
		<integer>568</integer>
		<integer>581</integer>
		<integer>632</integer>
		<integer>655</integer>
	</array>
	<key>postscriptOtherBlues</key>
	<array>
		<integer>-203</integer>
		<integer>-180</integer>
		<integer>727</integer>
		<integer>732</integer>
	</array>
	<key>postscriptStemSnapH</key>
	<array>
		<integer>77</integer>
		<integer>56</integer>
		<integer>67</integer>
		<integer>52</integer>
		<integer>85</integer>
	</array>
	<key>postscriptStemSnapV</key>
	<array>
		<integer>138</integer>
		<integer>131</integer>
		<integer>151</integer>
		<integer>142</integer>
		<integer>115</integer>
	</array>
	<key>postscriptUnderlinePosition</key>
	<integer>-40</integer>
	<key>postscriptUnderlineThickness</key>
	<integer>56</integer>
	<key>styleMapFamilyName</key>
	<string>Rasa Light</string>
	<key>styleMapStyleName</key>
	<string>regular</string>
	<key>styleName</key>
	<string>Light</string>
	<key>unitsPerEm</key>
	<integer>1000</integer>
	<key>versionMajor</key>
	<integer>1</integer>
	<key>versionMinor</key>
	<integer>1</integer>
	<key>xHeight</key>
	<integer>413</integer>
</dict>
</plist>
