<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.notdef</key>
	<string>_notdef.glif</string>
	<key>A</key>
	<string>A_.glif</string>
	<key>AE</key>
	<string>A_E_.glif</string>
	<key>AEacute</key>
	<string>A_E_acute.glif</string>
	<key>Aacute</key>
	<string>A_acute.glif</string>
	<key>Abreve</key>
	<string>A_breve.glif</string>
	<key>Acircumflex</key>
	<string>A_circumflex.glif</string>
	<key>Adieresis</key>
	<string>A_dieresis.glif</string>
	<key>Agrave</key>
	<string>A_grave.glif</string>
	<key>Amacron</key>
	<string>A_macron.glif</string>
	<key>Aogonek</key>
	<string>A_ogonek.glif</string>
	<key>Aring</key>
	<string>A_ring.glif</string>
	<key>Atilde</key>
	<string>A_tilde.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>CR</key>
	<string>C_R_.glif</string>
	<key>Cacute</key>
	<string>C_acute.glif</string>
	<key>Ccaron</key>
	<string>C_caron.glif</string>
	<key>Ccedilla</key>
	<string>C_cedilla.glif</string>
	<key>Ccircumflex</key>
	<string>C_circumflex.glif</string>
	<key>Cdotaccent</key>
	<string>C_dotaccent.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>Dcaron</key>
	<string>D_caron.glif</string>
	<key>Dcroat</key>
	<string>D_croat.glif</string>
	<key>Delta</key>
	<string>D_elta.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>Eacute</key>
	<string>E_acute.glif</string>
	<key>Ebreve</key>
	<string>E_breve.glif</string>
	<key>Ecaron</key>
	<string>E_caron.glif</string>
	<key>Ecircumflex</key>
	<string>E_circumflex.glif</string>
	<key>Edieresis</key>
	<string>E_dieresis.glif</string>
	<key>Edotaccent</key>
	<string>E_dotaccent.glif</string>
	<key>Egrave</key>
	<string>E_grave.glif</string>
	<key>Emacron</key>
	<string>E_macron.glif</string>
	<key>Eng</key>
	<string>E_ng.glif</string>
	<key>Eogonek</key>
	<string>E_ogonek.glif</string>
	<key>Eth</key>
	<string>E_th.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>Gbreve</key>
	<string>G_breve.glif</string>
	<key>Gcircumflex</key>
	<string>G_circumflex.glif</string>
	<key>Gcommaaccent</key>
	<string>G_commaaccent.glif</string>
	<key>Gdotaccent</key>
	<string>G_dotaccent.glif</string>
	<key>Germandbls</key>
	<string>G_ermandbls.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>Hbar</key>
	<string>H_bar.glif</string>
	<key>Hcircumflex</key>
	<string>H_circumflex.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>IJ</key>
	<string>I_J_.glif</string>
	<key>Iacute</key>
	<string>I_acute.glif</string>
	<key>Iacute_J.NLD</key>
	<string>I_acute_J_.N_L_D_.glif</string>
	<key>Ibreve</key>
	<string>I_breve.glif</string>
	<key>Icircumflex</key>
	<string>I_circumflex.glif</string>
	<key>Idieresis</key>
	<string>I_dieresis.glif</string>
	<key>Idotaccent</key>
	<string>I_dotaccent.glif</string>
	<key>Igrave</key>
	<string>I_grave.glif</string>
	<key>Imacron</key>
	<string>I_macron.glif</string>
	<key>Iogonek</key>
	<string>I_ogonek.glif</string>
	<key>Itilde</key>
	<string>I_tilde.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>Jacute</key>
	<string>J_acute.glif</string>
	<key>Jcircumflex</key>
	<string>J_circumflex.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>Kcommaaccent</key>
	<string>K_commaaccent.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>Lacute</key>
	<string>L_acute.glif</string>
	<key>Lcaron</key>
	<string>L_caron.glif</string>
	<key>Lcommaaccent</key>
	<string>L_commaaccent.glif</string>
	<key>Ldot</key>
	<string>L_dot.glif</string>
	<key>Lslash</key>
	<string>L_slash.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>NULL</key>
	<string>N_U_L_L_.glif</string>
	<key>Nacute</key>
	<string>N_acute.glif</string>
	<key>Ncaron</key>
	<string>N_caron.glif</string>
	<key>Ncommaaccent</key>
	<string>N_commaaccent.glif</string>
	<key>Ntilde</key>
	<string>N_tilde.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>OE</key>
	<string>O_E_.glif</string>
	<key>Oacute</key>
	<string>O_acute.glif</string>
	<key>Obreve</key>
	<string>O_breve.glif</string>
	<key>Ocircumflex</key>
	<string>O_circumflex.glif</string>
	<key>Odieresis</key>
	<string>O_dieresis.glif</string>
	<key>Ograve</key>
	<string>O_grave.glif</string>
	<key>Ohungarumlaut</key>
	<string>O_hungarumlaut.glif</string>
	<key>Omacron</key>
	<string>O_macron.glif</string>
	<key>Omega</key>
	<string>O_mega.glif</string>
	<key>Oslash</key>
	<string>O_slash.glif</string>
	<key>Otilde</key>
	<string>O_tilde.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>Racute</key>
	<string>R_acute.glif</string>
	<key>Rcaron</key>
	<string>R_caron.glif</string>
	<key>Rcommaaccent</key>
	<string>R_commaaccent.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>Sacute</key>
	<string>S_acute.glif</string>
	<key>Scaron</key>
	<string>S_caron.glif</string>
	<key>Scedilla</key>
	<string>S_cedilla.glif</string>
	<key>Schwa</key>
	<string>S_chwa.glif</string>
	<key>Scircumflex</key>
	<string>S_circumflex.glif</string>
	<key>Scommaaccent</key>
	<string>S_commaaccent.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>Tbar</key>
	<string>T_bar.glif</string>
	<key>Tcaron</key>
	<string>T_caron.glif</string>
	<key>Tcedilla</key>
	<string>T_cedilla.glif</string>
	<key>Tcommaaccent</key>
	<string>T_commaaccent.glif</string>
	<key>Thorn</key>
	<string>T_horn.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>Uacute</key>
	<string>U_acute.glif</string>
	<key>Ubreve</key>
	<string>U_breve.glif</string>
	<key>Ucircumflex</key>
	<string>U_circumflex.glif</string>
	<key>Udieresis</key>
	<string>U_dieresis.glif</string>
	<key>Ugrave</key>
	<string>U_grave.glif</string>
	<key>Uhungarumlaut</key>
	<string>U_hungarumlaut.glif</string>
	<key>Umacron</key>
	<string>U_macron.glif</string>
	<key>Uogonek</key>
	<string>U_ogonek.glif</string>
	<key>Uring</key>
	<string>U_ring.glif</string>
	<key>Utilde</key>
	<string>U_tilde.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>W</key>
	<string>W_.glif</string>
	<key>Wacute</key>
	<string>W_acute.glif</string>
	<key>Wcircumflex</key>
	<string>W_circumflex.glif</string>
	<key>Wdieresis</key>
	<string>W_dieresis.glif</string>
	<key>Wgrave</key>
	<string>W_grave.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Yacute</key>
	<string>Y_acute.glif</string>
	<key>Ycircumflex</key>
	<string>Y_circumflex.glif</string>
	<key>Ydieresis</key>
	<string>Y_dieresis.glif</string>
	<key>Ygrave</key>
	<string>Y_grave.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>Zacute</key>
	<string>Z_acute.glif</string>
	<key>Zcaron</key>
	<string>Z_caron.glif</string>
	<key>Zdotaccent</key>
	<string>Z_dotaccent.glif</string>
	<key>__periodcentered.CAT</key>
	<string>__periodcentered.C_A_T_.glif</string>
	<key>__periodcentered.CAT.case</key>
	<string>__periodcentered.C_A_T_.case.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>aacute</key>
	<string>aacute.glif</string>
	<key>abreve</key>
	<string>abreve.glif</string>
	<key>acircumflex</key>
	<string>acircumflex.glif</string>
	<key>acute</key>
	<string>acute.glif</string>
	<key>acutecomb</key>
	<string>acutecomb.glif</string>
	<key>acutecomb.case</key>
	<string>acutecomb.case.glif</string>
	<key>adieresis</key>
	<string>adieresis.glif</string>
	<key>ae</key>
	<string>ae.glif</string>
	<key>aeacute</key>
	<string>aeacute.glif</string>
	<key>agrave</key>
	<string>agrave.glif</string>
	<key>amacron</key>
	<string>amacron.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>aogonek</key>
	<string>aogonek.glif</string>
	<key>apostrophemodifier</key>
	<string>apostrophemodifier.glif</string>
	<key>approxequal</key>
	<string>approxequal.glif</string>
	<key>aring</key>
	<string>aring.glif</string>
	<key>arrowboth</key>
	<string>arrowboth.glif</string>
	<key>arrowdown</key>
	<string>arrowdown.glif</string>
	<key>arrowleft</key>
	<string>arrowleft.glif</string>
	<key>arrowright</key>
	<string>arrowright.glif</string>
	<key>arrowup</key>
	<string>arrowup.glif</string>
	<key>arrowupdown</key>
	<string>arrowupdown.glif</string>
	<key>asciicircum</key>
	<string>asciicircum.glif</string>
	<key>asciitilde</key>
	<string>asciitilde.glif</string>
	<key>asterisk</key>
	<string>asterisk.glif</string>
	<key>asterisk.gujr</key>
	<string>asterisk.gujr.glif</string>
	<key>at</key>
	<string>at.glif</string>
	<key>atilde</key>
	<string>atilde.glif</string>
	<key>b</key>
	<string>b.glif</string>
	<key>backslash</key>
	<string>backslash.glif</string>
	<key>bar</key>
	<string>bar.glif</string>
	<key>braceleft</key>
	<string>braceleft.glif</string>
	<key>braceleft.gujr</key>
	<string>braceleft.gujr.glif</string>
	<key>braceright</key>
	<string>braceright.glif</string>
	<key>braceright.gujr</key>
	<string>braceright.gujr.glif</string>
	<key>bracketleft</key>
	<string>bracketleft.glif</string>
	<key>bracketleft.gujr</key>
	<string>bracketleft.gujr.glif</string>
	<key>bracketright</key>
	<string>bracketright.glif</string>
	<key>bracketright.gujr</key>
	<string>bracketright.gujr.glif</string>
	<key>breve</key>
	<string>breve.glif</string>
	<key>brevecomb</key>
	<string>brevecomb.glif</string>
	<key>brevecomb.case</key>
	<string>brevecomb.case.glif</string>
	<key>brevecomb.narrow</key>
	<string>brevecomb.narrow.glif</string>
	<key>brokenbar</key>
	<string>brokenbar.glif</string>
	<key>bullet</key>
	<string>bullet.glif</string>
	<key>bullet.gujr</key>
	<string>bullet.gujr.glif</string>
	<key>bulletoperator</key>
	<string>bulletoperator.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>cacute</key>
	<string>cacute.glif</string>
	<key>caron</key>
	<string>caron.glif</string>
	<key>caroncomb</key>
	<string>caroncomb.glif</string>
	<key>caroncomb.calt</key>
	<string>caroncomb.calt.glif</string>
	<key>caroncomb.case</key>
	<string>caroncomb.case.glif</string>
	<key>ccaron</key>
	<string>ccaron.glif</string>
	<key>ccedilla</key>
	<string>ccedilla.glif</string>
	<key>ccircumflex</key>
	<string>ccircumflex.glif</string>
	<key>cdotaccent</key>
	<string>cdotaccent.glif</string>
	<key>cedilla</key>
	<string>cedilla.glif</string>
	<key>cedillacomb</key>
	<string>cedillacomb.glif</string>
	<key>cent</key>
	<string>cent.glif</string>
	<key>cent.tf</key>
	<string>cent.tf.glif</string>
	<key>circumflex</key>
	<string>circumflex.glif</string>
	<key>circumflexcomb</key>
	<string>circumflexcomb.glif</string>
	<key>circumflexcomb.case</key>
	<string>circumflexcomb.case.glif</string>
	<key>circumflexcomb.narrow</key>
	<string>circumflexcomb.narrow.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>colon.gujr</key>
	<string>colon.gujr.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>comma.gujr</key>
	<string>comma.gujr.glif</string>
	<key>commaaccentcomb</key>
	<string>commaaccentcomb.glif</string>
	<key>commaaccentturnedabovecomb</key>
	<string>commaaccentturnedabovecomb.glif</string>
	<key>copyright</key>
	<string>copyright.glif</string>
	<key>currency</key>
	<string>currency.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>dagger</key>
	<string>dagger.glif</string>
	<key>daggerdbl</key>
	<string>daggerdbl.glif</string>
	<key>dcaron</key>
	<string>dcaron.glif</string>
	<key>dcroat</key>
	<string>dcroat.glif</string>
	<key>degree</key>
	<string>degree.glif</string>
	<key>dieresis</key>
	<string>dieresis.glif</string>
	<key>dieresiscomb</key>
	<string>dieresiscomb.glif</string>
	<key>dieresiscomb.case</key>
	<string>dieresiscomb.case.glif</string>
	<key>divide</key>
	<string>divide.glif</string>
	<key>divisionslash</key>
	<string>divisionslash.glif</string>
	<key>dollar</key>
	<string>dollar.glif</string>
	<key>dollar.tf</key>
	<string>dollar.tf.glif</string>
	<key>dotaccent</key>
	<string>dotaccent.glif</string>
	<key>dotaccentcomb</key>
	<string>dotaccentcomb.glif</string>
	<key>dotaccentcomb.case</key>
	<string>dotaccentcomb.case.glif</string>
	<key>dotlessi</key>
	<string>dotlessi.glif</string>
	<key>dotlessiogonek</key>
	<string>dotlessiogonek.glif</string>
	<key>dotlessj</key>
	<string>dotlessj.glif</string>
	<key>dottedCircle</key>
	<string>dottedC_ircle.glif</string>
	<key>dvAbbreviation</key>
	<string>dvA_bbreviation.glif</string>
	<key>dvDanda</key>
	<string>dvD_anda.glif</string>
	<key>dvDoubleDanda</key>
	<string>dvD_oubleD_anda.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>eacute</key>
	<string>eacute.glif</string>
	<key>ebreve</key>
	<string>ebreve.glif</string>
	<key>ecaron</key>
	<string>ecaron.glif</string>
	<key>ecircumflex</key>
	<string>ecircumflex.glif</string>
	<key>edieresis</key>
	<string>edieresis.glif</string>
	<key>edotaccent</key>
	<string>edotaccent.glif</string>
	<key>egrave</key>
	<string>egrave.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>eight.tf</key>
	<string>eight.tf.glif</string>
	<key>ellipsis</key>
	<string>ellipsis.glif</string>
	<key>ellipsis.gujr</key>
	<string>ellipsis.gujr.glif</string>
	<key>emacron</key>
	<string>emacron.glif</string>
	<key>emdash</key>
	<string>emdash.glif</string>
	<key>emdash.gujr</key>
	<string>emdash.gujr.glif</string>
	<key>emspace</key>
	<string>emspace.glif</string>
	<key>endash</key>
	<string>endash.glif</string>
	<key>endash.gujr</key>
	<string>endash.gujr.glif</string>
	<key>eng</key>
	<string>eng.glif</string>
	<key>enspace</key>
	<string>enspace.glif</string>
	<key>eogonek</key>
	<string>eogonek.glif</string>
	<key>equal</key>
	<string>equal.glif</string>
	<key>estimated</key>
	<string>estimated.glif</string>
	<key>eth</key>
	<string>eth.glif</string>
	<key>euro</key>
	<string>euro.glif</string>
	<key>euro.tf</key>
	<string>euro.tf.glif</string>
	<key>exclam</key>
	<string>exclam.glif</string>
	<key>exclam.gujr</key>
	<string>exclam.gujr.glif</string>
	<key>exclamdown</key>
	<string>exclamdown.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>f_b</key>
	<string>f_b.glif</string>
	<key>f_f</key>
	<string>f_f.glif</string>
	<key>f_f_b</key>
	<string>f_f_b.glif</string>
	<key>f_f_h</key>
	<string>f_f_h.glif</string>
	<key>f_f_k</key>
	<string>f_f_k.glif</string>
	<key>f_f_l</key>
	<string>f_f_l.glif</string>
	<key>f_h</key>
	<string>f_h.glif</string>
	<key>f_k</key>
	<string>f_k.glif</string>
	<key>f_l</key>
	<string>f_l.glif</string>
	<key>firsttonechinese</key>
	<string>firsttonechinese.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>five.tf</key>
	<string>five.tf.glif</string>
	<key>florin</key>
	<string>florin.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>four.dnom</key>
	<string>four.dnom.glif</string>
	<key>four.numr</key>
	<string>four.numr.glif</string>
	<key>four.tf</key>
	<string>four.tf.glif</string>
	<key>foursuperior</key>
	<string>foursuperior.glif</string>
	<key>fraction</key>
	<string>fraction.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>gbreve</key>
	<string>gbreve.glif</string>
	<key>gcircumflex</key>
	<string>gcircumflex.glif</string>
	<key>gcommaaccent</key>
	<string>gcommaaccent.glif</string>
	<key>gdotaccent</key>
	<string>gdotaccent.glif</string>
	<key>germandbls</key>
	<string>germandbls.glif</string>
	<key>gjA</key>
	<string>gjA_.glif</string>
	<key>gjAa</key>
	<string>gjA_a.glif</string>
	<key>gjAi</key>
	<string>gjA_i.glif</string>
	<key>gjAnusvara</key>
	<string>gjA_nusvara.glif</string>
	<key>gjAnusvara.calt</key>
	<string>gjA_nusvara.calt.glif</string>
	<key>gjAnusvara.calt2</key>
	<string>gjA_nusvara.calt2.glif</string>
	<key>gjAu</key>
	<string>gjA_u.glif</string>
	<key>gjAvagraha</key>
	<string>gjA_vagraha.glif</string>
	<key>gjB</key>
	<string>gjB_.glif</string>
	<key>gjBKa</key>
	<string>gjB_K_a.glif</string>
	<key>gjBR</key>
	<string>gjB_R_.glif</string>
	<key>gjBRa</key>
	<string>gjB_R_a.glif</string>
	<key>gjBY</key>
	<string>gjB_Y_.glif</string>
	<key>gjBYa</key>
	<string>gjB_Y_a.glif</string>
	<key>gjBa</key>
	<string>gjB_a.glif</string>
	<key>gjBh</key>
	<string>gjB_h.glif</string>
	<key>gjBhR</key>
	<string>gjB_hR_.glif</string>
	<key>gjBhRa</key>
	<string>gjB_hR_a.glif</string>
	<key>gjBha</key>
	<string>gjB_ha.glif</string>
	<key>gjC</key>
	<string>gjC_.glif</string>
	<key>gjCa</key>
	<string>gjC_a.glif</string>
	<key>gjCandraE</key>
	<string>gjC_andraE_.glif</string>
	<key>gjCandraO</key>
	<string>gjC_andraO_.glif</string>
	<key>gjCandrabindu</key>
	<string>gjC_andrabindu.glif</string>
	<key>gjCandrabindu.calt</key>
	<string>gjC_andrabindu.calt.glif</string>
	<key>gjCandrabindu.calt2</key>
	<string>gjC_andrabindu.calt2.glif</string>
	<key>gjCandrabindu.calt3</key>
	<string>gjC_andrabindu.calt3.glif</string>
	<key>gjCh</key>
	<string>gjC_h.glif</string>
	<key>gjCha</key>
	<string>gjC_ha.glif</string>
	<key>gjD</key>
	<string>gjD_.glif</string>
	<key>gjDBa</key>
	<string>gjD_B_a.glif</string>
	<key>gjDBa.ss01</key>
	<string>gjD_B_a.ss01.glif</string>
	<key>gjDDa</key>
	<string>gjD_D_a.glif</string>
	<key>gjDDha</key>
	<string>gjD_D_ha.glif</string>
	<key>gjDDha.ss01</key>
	<string>gjD_D_ha.ss01.glif</string>
	<key>gjDGa</key>
	<string>gjD_G_a.glif</string>
	<key>gjDGa.ss01</key>
	<string>gjD_G_a.ss01.glif</string>
	<key>gjDGha</key>
	<string>gjD_G_ha.glif</string>
	<key>gjDGha.ss01</key>
	<string>gjD_G_ha.ss01.glif</string>
	<key>gjDM</key>
	<string>gjD_M_.glif</string>
	<key>gjDMa</key>
	<string>gjD_M_a.glif</string>
	<key>gjDNa</key>
	<string>gjD_N_a.glif</string>
	<key>gjDNa.ss01</key>
	<string>gjD_N_a.ss01.glif</string>
	<key>gjDRY</key>
	<string>gjD_R_Y_.glif</string>
	<key>gjDRYa</key>
	<string>gjD_R_Y_a.glif</string>
	<key>gjDRa</key>
	<string>gjD_R_a.glif</string>
	<key>gjDRa.ss01</key>
	<string>gjD_R_a.ss01.glif</string>
	<key>gjDVa</key>
	<string>gjD_V_a.glif</string>
	<key>gjDVa.ss01</key>
	<string>gjD_V_a.ss01.glif</string>
	<key>gjDY</key>
	<string>gjD_Y_.glif</string>
	<key>gjDYa</key>
	<string>gjD_Y_a.glif</string>
	<key>gjDa</key>
	<string>gjD_a.glif</string>
	<key>gjDd</key>
	<string>gjD_d.glif</string>
	<key>gjDdDda</key>
	<string>gjD_dD_da.glif</string>
	<key>gjDdM</key>
	<string>gjD_dM_.glif</string>
	<key>gjDdMa</key>
	<string>gjD_dM_a.glif</string>
	<key>gjDdNa</key>
	<string>gjD_dN_a.glif</string>
	<key>gjDdVa</key>
	<string>gjD_dV_a.glif</string>
	<key>gjDdY</key>
	<string>gjD_dY_.glif</string>
	<key>gjDdYa</key>
	<string>gjD_dY_a.glif</string>
	<key>gjDda</key>
	<string>gjD_da.glif</string>
	<key>gjDdh</key>
	<string>gjD_dh.glif</string>
	<key>gjDdhDdha</key>
	<string>gjD_dhD_dha.glif</string>
	<key>gjDdhNa</key>
	<string>gjD_dhN_a.glif</string>
	<key>gjDdha</key>
	<string>gjD_dha.glif</string>
	<key>gjDh</key>
	<string>gjD_h.glif</string>
	<key>gjDh.calt</key>
	<string>gjD_h.calt.glif</string>
	<key>gjDhN</key>
	<string>gjD_hN_.glif</string>
	<key>gjDhNa</key>
	<string>gjD_hN_a.glif</string>
	<key>gjDhR</key>
	<string>gjD_hR_.glif</string>
	<key>gjDhRa</key>
	<string>gjD_hR_a.glif</string>
	<key>gjDha</key>
	<string>gjD_ha.glif</string>
	<key>gjE</key>
	<string>gjE_.glif</string>
	<key>gjEight</key>
	<string>gjE_ight.glif</string>
	<key>gjEight.tf</key>
	<string>gjE_ight.tf.glif</string>
	<key>gjFive</key>
	<string>gjF_ive.glif</string>
	<key>gjFive.tf</key>
	<string>gjF_ive.tf.glif</string>
	<key>gjFour</key>
	<string>gjF_our.glif</string>
	<key>gjFour.tf</key>
	<string>gjF_our.tf.glif</string>
	<key>gjG</key>
	<string>gjG_.glif</string>
	<key>gjGR</key>
	<string>gjG_R_.glif</string>
	<key>gjGRa</key>
	<string>gjG_R_a.glif</string>
	<key>gjGa</key>
	<string>gjG_a.glif</string>
	<key>gjGh</key>
	<string>gjG_h.glif</string>
	<key>gjGhN</key>
	<string>gjG_hN_.glif</string>
	<key>gjGhNa</key>
	<string>gjG_hN_a.glif</string>
	<key>gjGhR</key>
	<string>gjG_hR_.glif</string>
	<key>gjGhRa</key>
	<string>gjG_hR_a.glif</string>
	<key>gjGha</key>
	<string>gjG_ha.glif</string>
	<key>gjH</key>
	<string>gjH_.glif</string>
	<key>gjHLa</key>
	<string>gjH_L_a.glif</string>
	<key>gjHM</key>
	<string>gjH_M_.glif</string>
	<key>gjHMa</key>
	<string>gjH_M_a.glif</string>
	<key>gjHNa</key>
	<string>gjH_N_a.glif</string>
	<key>gjHNna</key>
	<string>gjH_N_na.glif</string>
	<key>gjHVa</key>
	<string>gjH_V_a.glif</string>
	<key>gjHY</key>
	<string>gjH_Y_.glif</string>
	<key>gjHYa</key>
	<string>gjH_Y_a.glif</string>
	<key>gjHa</key>
	<string>gjH_a.glif</string>
	<key>gjI</key>
	<string>gjI_.glif</string>
	<key>gjIi</key>
	<string>gjI_i.glif</string>
	<key>gjJ</key>
	<string>gjJ_.glif</string>
	<key>gjJ.calt</key>
	<string>gjJ_.calt.glif</string>
	<key>gjJ.calt2</key>
	<string>gjJ_.calt2.glif</string>
	<key>gjJ.calt3</key>
	<string>gjJ_.calt3.glif</string>
	<key>gjJKa</key>
	<string>gjJ_K_a.glif</string>
	<key>gjJNy</key>
	<string>gjJ_N_y.glif</string>
	<key>gjJNyY</key>
	<string>gjJ_N_yY_.glif</string>
	<key>gjJNyYa</key>
	<string>gjJ_N_yY_a.glif</string>
	<key>gjJNya</key>
	<string>gjJ_N_ya.glif</string>
	<key>gjJRa</key>
	<string>gjJ_R_a.glif</string>
	<key>gjJRa_gjMatraAa</key>
	<string>gjJ_R_a_gjM_atraA_a.glif</string>
	<key>gjJRa_gjMatraIi</key>
	<string>gjJ_R_a_gjM_atraI_i.glif</string>
	<key>gjJY</key>
	<string>gjJ_Y_.glif</string>
	<key>gjJYa</key>
	<string>gjJ_Y_a.glif</string>
	<key>gjJa</key>
	<string>gjJ_a.glif</string>
	<key>gjJa_gjMatraAa</key>
	<string>gjJ_a_gjM_atraA_a.glif</string>
	<key>gjJa_gjMatraIi</key>
	<string>gjJ_a_gjM_atraI_i.glif</string>
	<key>gjJh</key>
	<string>gjJ_h.glif</string>
	<key>gjJhRa</key>
	<string>gjJ_hR_a.glif</string>
	<key>gjJhY</key>
	<string>gjJ_hY_.glif</string>
	<key>gjJhYa</key>
	<string>gjJ_hY_a.glif</string>
	<key>gjJha</key>
	<string>gjJ_ha.glif</string>
	<key>gjK</key>
	<string>gjK_.glif</string>
	<key>gjK.calt</key>
	<string>gjK_.calt.glif</string>
	<key>gjK.calt2</key>
	<string>gjK_.calt2.glif</string>
	<key>gjK.calt3</key>
	<string>gjK_.calt3.glif</string>
	<key>gjKKRa</key>
	<string>gjK_K_R_a.glif</string>
	<key>gjKKa</key>
	<string>gjK_K_a.glif</string>
	<key>gjKM</key>
	<string>gjK_M_.glif</string>
	<key>gjKMa</key>
	<string>gjK_M_a.glif</string>
	<key>gjKR</key>
	<string>gjK_R_.glif</string>
	<key>gjKR.calt</key>
	<string>gjK_R_.calt.glif</string>
	<key>gjKR.calt2</key>
	<string>gjK_R_.calt2.glif</string>
	<key>gjKR.calt3</key>
	<string>gjK_R_.calt3.glif</string>
	<key>gjKRa</key>
	<string>gjK_R_a.glif</string>
	<key>gjKS</key>
	<string>gjK_S_.glif</string>
	<key>gjKSa</key>
	<string>gjK_S_a.glif</string>
	<key>gjKSh</key>
	<string>gjK_S_h.glif</string>
	<key>gjKSha</key>
	<string>gjK_S_ha.glif</string>
	<key>gjKSs</key>
	<string>gjK_S_s.glif</string>
	<key>gjKSsR</key>
	<string>gjK_S_sR_.glif</string>
	<key>gjKSsRa</key>
	<string>gjK_S_sR_a.glif</string>
	<key>gjKSsY</key>
	<string>gjK_S_sY_.glif</string>
	<key>gjKSsYa</key>
	<string>gjK_S_sY_a.glif</string>
	<key>gjKSsa</key>
	<string>gjK_S_sa.glif</string>
	<key>gjKSsa_gjMatraU</key>
	<string>gjK_S_sa_gjM_atraU_.glif</string>
	<key>gjKT</key>
	<string>gjK_T_.glif</string>
	<key>gjKTa</key>
	<string>gjK_T_a.glif</string>
	<key>gjKTta</key>
	<string>gjK_T_ta.glif</string>
	<key>gjKY</key>
	<string>gjK_Y_.glif</string>
	<key>gjKYa</key>
	<string>gjK_Y_a.glif</string>
	<key>gjKa</key>
	<string>gjK_a.glif</string>
	<key>gjKh</key>
	<string>gjK_h.glif</string>
	<key>gjKhR</key>
	<string>gjK_hR_.glif</string>
	<key>gjKhRa</key>
	<string>gjK_hR_a.glif</string>
	<key>gjKhY</key>
	<string>gjK_hY_.glif</string>
	<key>gjKhYa</key>
	<string>gjK_hY_a.glif</string>
	<key>gjKha</key>
	<string>gjK_ha.glif</string>
	<key>gjL</key>
	<string>gjL_.glif</string>
	<key>gjL.calt</key>
	<string>gjL_.calt.glif</string>
	<key>gjLDda</key>
	<string>gjL_D_da.glif</string>
	<key>gjLKa</key>
	<string>gjL_K_a.glif</string>
	<key>gjLY</key>
	<string>gjL_Y_.glif</string>
	<key>gjLYa</key>
	<string>gjL_Y_a.glif</string>
	<key>gjLa</key>
	<string>gjL_a.glif</string>
	<key>gjLl</key>
	<string>gjL_l.glif</string>
	<key>gjLlRa</key>
	<string>gjL_lR_a.glif</string>
	<key>gjLlY</key>
	<string>gjL_lY_.glif</string>
	<key>gjLlYa</key>
	<string>gjL_lY_a.glif</string>
	<key>gjLla</key>
	<string>gjL_la.glif</string>
	<key>gjLla_gjMatraVocalicR</key>
	<string>gjL_la_gjM_atraV_ocalicR_.glif</string>
	<key>gjLla_gjMatraVocalicRr</key>
	<string>gjL_la_gjM_atraV_ocalicR_r.glif</string>
	<key>gjM</key>
	<string>gjM_.glif</string>
	<key>gjMKa</key>
	<string>gjM_K_a.glif</string>
	<key>gjMPha</key>
	<string>gjM_P_ha.glif</string>
	<key>gjMR</key>
	<string>gjM_R_.glif</string>
	<key>gjMRa</key>
	<string>gjM_R_a.glif</string>
	<key>gjMa</key>
	<string>gjM_a.glif</string>
	<key>gjMatraAa</key>
	<string>gjM_atraA_a.glif</string>
	<key>gjMatraAa.base</key>
	<string>gjM_atraA_a.base.glif</string>
	<key>gjMatraAa_gjMatraVocalicR</key>
	<string>gjM_atraA_a_gjM_atraV_ocalicR_.glif</string>
	<key>gjMatraAa_gjMatraVocalicRr</key>
	<string>gjM_atraA_a_gjM_atraV_ocalicR_r.glif</string>
	<key>gjMatraAa_gjReph</key>
	<string>gjM_atraA_a_gjR_eph.glif</string>
	<key>gjMatraAa_gjReph_gjAnusvara</key>
	<string>gjM_atraA_a_gjR_eph_gjA_nusvara.glif</string>
	<key>gjMatraAi</key>
	<string>gjM_atraA_i.glif</string>
	<key>gjMatraAi_gjAnusvara</key>
	<string>gjM_atraA_i_gjA_nusvara.glif</string>
	<key>gjMatraAi_gjCandrabindu</key>
	<string>gjM_atraA_i_gjC_andrabindu.glif</string>
	<key>gjMatraAi_gjReph</key>
	<string>gjM_atraA_i_gjR_eph.glif</string>
	<key>gjMatraAi_gjReph_gjAnusvara</key>
	<string>gjM_atraA_i_gjR_eph_gjA_nusvara.glif</string>
	<key>gjMatraAu</key>
	<string>gjM_atraA_u.glif</string>
	<key>gjMatraAu_gjReph</key>
	<string>gjM_atraA_u_gjR_eph.glif</string>
	<key>gjMatraAu_gjReph_gjAnusvara</key>
	<string>gjM_atraA_u_gjR_eph_gjA_nusvara.glif</string>
	<key>gjMatraCandraE</key>
	<string>gjM_atraC_andraE_.glif</string>
	<key>gjMatraCandraE_gjAnusvara</key>
	<string>gjM_atraC_andraE__gjA_nusvara.glif</string>
	<key>gjMatraCandraE_gjCandrabindu</key>
	<string>gjM_atraC_andraE__gjC_andrabindu.glif</string>
	<key>gjMatraCandraE_gjReph</key>
	<string>gjM_atraC_andraE__gjR_eph.glif</string>
	<key>gjMatraCandraE_gjReph_gjAnusvara</key>
	<string>gjM_atraC_andraE__gjR_eph_gjA_nusvara.glif</string>
	<key>gjMatraCandraO</key>
	<string>gjM_atraC_andraO_.glif</string>
	<key>gjMatraCandraO_gjReph</key>
	<string>gjM_atraC_andraO__gjR_eph.glif</string>
	<key>gjMatraCandraO_gjReph_gjAnusvara</key>
	<string>gjM_atraC_andraO__gjR_eph_gjA_nusvara.glif</string>
	<key>gjMatraE</key>
	<string>gjM_atraE_.glif</string>
	<key>gjMatraE_gjAnusvara</key>
	<string>gjM_atraE__gjA_nusvara.glif</string>
	<key>gjMatraE_gjCandrabindu</key>
	<string>gjM_atraE__gjC_andrabindu.glif</string>
	<key>gjMatraE_gjReph</key>
	<string>gjM_atraE__gjR_eph.glif</string>
	<key>gjMatraE_gjReph_gjAnusvara</key>
	<string>gjM_atraE__gjR_eph_gjA_nusvara.glif</string>
	<key>gjMatraI</key>
	<string>gjM_atraI_.glif</string>
	<key>gjMatraI.1</key>
	<string>gjM_atraI_.1.glif</string>
	<key>gjMatraI.2</key>
	<string>gjM_atraI_.2.glif</string>
	<key>gjMatraI.3</key>
	<string>gjM_atraI_.3.glif</string>
	<key>gjMatraI.4</key>
	<string>gjM_atraI_.4.glif</string>
	<key>gjMatraI.5</key>
	<string>gjM_atraI_.5.glif</string>
	<key>gjMatraI.6</key>
	<string>gjM_atraI_.6.glif</string>
	<key>gjMatraI.7</key>
	<string>gjM_atraI_.7.glif</string>
	<key>gjMatraI.8</key>
	<string>gjM_atraI_.8.glif</string>
	<key>gjMatraI.9</key>
	<string>gjM_atraI_.9.glif</string>
	<key>gjMatraIi</key>
	<string>gjM_atraI_i.glif</string>
	<key>gjMatraIi.1</key>
	<string>gjM_atraI_i.1.glif</string>
	<key>gjMatraIi.2</key>
	<string>gjM_atraI_i.2.glif</string>
	<key>gjMatraIi.3</key>
	<string>gjM_atraI_i.3.glif</string>
	<key>gjMatraIi_gjReph</key>
	<string>gjM_atraI_i_gjR_eph.glif</string>
	<key>gjMatraIi_gjReph.1</key>
	<string>gjM_atraI_i_gjR_eph.1.glif</string>
	<key>gjMatraIi_gjReph.2</key>
	<string>gjM_atraI_i_gjR_eph.2.glif</string>
	<key>gjMatraIi_gjReph.3</key>
	<string>gjM_atraI_i_gjR_eph.3.glif</string>
	<key>gjMatraIi_gjReph_gjAnusvara</key>
	<string>gjM_atraI_i_gjR_eph_gjA_nusvara.glif</string>
	<key>gjMatraIi_gjReph_gjAnusvara.1</key>
	<string>gjM_atraI_i_gjR_eph_gjA_nusvara.1.glif</string>
	<key>gjMatraIi_gjReph_gjAnusvara.2</key>
	<string>gjM_atraI_i_gjR_eph_gjA_nusvara.2.glif</string>
	<key>gjMatraIi_gjReph_gjAnusvara.3</key>
	<string>gjM_atraI_i_gjR_eph_gjA_nusvara.3.glif</string>
	<key>gjMatraO</key>
	<string>gjM_atraO_.glif</string>
	<key>gjMatraO_gjReph</key>
	<string>gjM_atraO__gjR_eph.glif</string>
	<key>gjMatraO_gjReph_gjAnusvara</key>
	<string>gjM_atraO__gjR_eph_gjA_nusvara.glif</string>
	<key>gjMatraU</key>
	<string>gjM_atraU_.glif</string>
	<key>gjMatraUu</key>
	<string>gjM_atraU_u.glif</string>
	<key>gjMatraVocalicL</key>
	<string>gjM_atraV_ocalicL_.glif</string>
	<key>gjMatraVocalicLl</key>
	<string>gjM_atraV_ocalicL_l.glif</string>
	<key>gjMatraVocalicR</key>
	<string>gjM_atraV_ocalicR_.glif</string>
	<key>gjMatraVocalicRr</key>
	<string>gjM_atraV_ocalicR_r.glif</string>
	<key>gjN</key>
	<string>gjN_.glif</string>
	<key>gjN.calt</key>
	<string>gjN_.calt.glif</string>
	<key>gjN.calt2</key>
	<string>gjN_.calt2.glif</string>
	<key>gjN.post</key>
	<string>gjN_.post.glif</string>
	<key>gjNM</key>
	<string>gjN_M_.glif</string>
	<key>gjNMa</key>
	<string>gjN_M_a.glif</string>
	<key>gjNN</key>
	<string>gjN_N_.glif</string>
	<key>gjNNa</key>
	<string>gjN_N_a.glif</string>
	<key>gjNR</key>
	<string>gjN_R_.glif</string>
	<key>gjNRa</key>
	<string>gjN_R_a.glif</string>
	<key>gjNa</key>
	<string>gjN_a.glif</string>
	<key>gjNg</key>
	<string>gjN_g.glif</string>
	<key>gjNgKSsa</key>
	<string>gjN_gK_S_sa.glif</string>
	<key>gjNgKa</key>
	<string>gjN_gK_a.glif</string>
	<key>gjNgM</key>
	<string>gjN_gM_.glif</string>
	<key>gjNgMa</key>
	<string>gjN_gM_a.glif</string>
	<key>gjNgY</key>
	<string>gjN_gY_.glif</string>
	<key>gjNgYa</key>
	<string>gjN_gY_a.glif</string>
	<key>gjNga</key>
	<string>gjN_ga.glif</string>
	<key>gjNine</key>
	<string>gjN_ine.glif</string>
	<key>gjNine.tf</key>
	<string>gjN_ine.tf.glif</string>
	<key>gjNn</key>
	<string>gjN_n.glif</string>
	<key>gjNnR</key>
	<string>gjN_nR_.glif</string>
	<key>gjNnRa</key>
	<string>gjN_nR_a.glif</string>
	<key>gjNna</key>
	<string>gjN_na.glif</string>
	<key>gjNna_gjMatraU</key>
	<string>gjN_na_gjM_atraU_.glif</string>
	<key>gjNukta</key>
	<string>gjN_ukta.glif</string>
	<key>gjNukta.calt</key>
	<string>gjN_ukta.calt.glif</string>
	<key>gjNy</key>
	<string>gjN_y.glif</string>
	<key>gjNyY</key>
	<string>gjN_yY_.glif</string>
	<key>gjNyYa</key>
	<string>gjN_yY_a.glif</string>
	<key>gjNya</key>
	<string>gjN_ya.glif</string>
	<key>gjO</key>
	<string>gjO_.glif</string>
	<key>gjOm</key>
	<string>gjO_m.glif</string>
	<key>gjOne</key>
	<string>gjO_ne.glif</string>
	<key>gjOne.tf</key>
	<string>gjO_ne.tf.glif</string>
	<key>gjP</key>
	<string>gjP_.glif</string>
	<key>gjP.calt</key>
	<string>gjP_.calt.glif</string>
	<key>gjPKa</key>
	<string>gjP_K_a.glif</string>
	<key>gjPPha</key>
	<string>gjP_P_ha.glif</string>
	<key>gjPR</key>
	<string>gjP_R_.glif</string>
	<key>gjPRa</key>
	<string>gjP_R_a.glif</string>
	<key>gjPT</key>
	<string>gjP_T_.glif</string>
	<key>gjPTa</key>
	<string>gjP_T_a.glif</string>
	<key>gjPa</key>
	<string>gjP_a.glif</string>
	<key>gjPh</key>
	<string>gjP_h.glif</string>
	<key>gjPh.calt</key>
	<string>gjP_h.calt.glif</string>
	<key>gjPh.calt2</key>
	<string>gjP_h.calt2.glif</string>
	<key>gjPh.calt3</key>
	<string>gjP_h.calt3.glif</string>
	<key>gjPhRa</key>
	<string>gjP_hR_a.glif</string>
	<key>gjPhS</key>
	<string>gjP_hS_.glif</string>
	<key>gjPhSa</key>
	<string>gjP_hS_a.glif</string>
	<key>gjPhTta</key>
	<string>gjP_hT_ta.glif</string>
	<key>gjPhY</key>
	<string>gjP_hY_.glif</string>
	<key>gjPhYa</key>
	<string>gjP_hY_a.glif</string>
	<key>gjPha</key>
	<string>gjP_ha.glif</string>
	<key>gjR.post</key>
	<string>gjR_.post.glif</string>
	<key>gjRa</key>
	<string>gjR_a.glif</string>
	<key>gjRa_gjMatraU</key>
	<string>gjR_a_gjM_atraU_.glif</string>
	<key>gjRa_gjMatraUu</key>
	<string>gjR_a_gjM_atraU_u.glif</string>
	<key>gjRakar</key>
	<string>gjR_akar.glif</string>
	<key>gjRakar_gjMatraU</key>
	<string>gjR_akar_gjM_atraU_.glif</string>
	<key>gjRakar_gjMatraUu</key>
	<string>gjR_akar_gjM_atraU_u.glif</string>
	<key>gjReph</key>
	<string>gjR_eph.glif</string>
	<key>gjReph.calt</key>
	<string>gjR_eph.calt.glif</string>
	<key>gjReph.calt2</key>
	<string>gjR_eph.calt2.glif</string>
	<key>gjReph_gjAnusvara</key>
	<string>gjR_eph_gjA_nusvara.glif</string>
	<key>gjReph_gjAnusvara.calt</key>
	<string>gjR_eph_gjA_nusvara.calt.glif</string>
	<key>gjReph_gjAnusvara.calt2</key>
	<string>gjR_eph_gjA_nusvara.calt2.glif</string>
	<key>gjRupee</key>
	<string>gjR_upee.glif</string>
	<key>gjRupee.tf</key>
	<string>gjR_upee.tf.glif</string>
	<key>gjS</key>
	<string>gjS_.glif</string>
	<key>gjS.calt</key>
	<string>gjS_.calt.glif</string>
	<key>gjSDda</key>
	<string>gjS_D_da.glif</string>
	<key>gjSKRa</key>
	<string>gjS_K_R_a.glif</string>
	<key>gjSKa</key>
	<string>gjS_K_a.glif</string>
	<key>gjSPha</key>
	<string>gjS_P_ha.glif</string>
	<key>gjSR</key>
	<string>gjS_R_.glif</string>
	<key>gjSRa</key>
	<string>gjS_R_a.glif</string>
	<key>gjSTR</key>
	<string>gjS_T_R_.glif</string>
	<key>gjSTRa</key>
	<string>gjS_T_R_a.glif</string>
	<key>gjSTh</key>
	<string>gjS_T_h.glif</string>
	<key>gjSTha</key>
	<string>gjS_T_ha.glif</string>
	<key>gjSTta</key>
	<string>gjS_T_ta.glif</string>
	<key>gjSY</key>
	<string>gjS_Y_.glif</string>
	<key>gjSYa</key>
	<string>gjS_Y_a.glif</string>
	<key>gjSa</key>
	<string>gjS_a.glif</string>
	<key>gjSeven</key>
	<string>gjS_even.glif</string>
	<key>gjSeven.tf</key>
	<string>gjS_even.tf.glif</string>
	<key>gjSh</key>
	<string>gjS_h.glif</string>
	<key>gjSh.calt</key>
	<string>gjS_h.calt.glif</string>
	<key>gjShC</key>
	<string>gjS_hC_.glif</string>
	<key>gjShCa</key>
	<string>gjS_hC_a.glif</string>
	<key>gjShL</key>
	<string>gjS_hL_.glif</string>
	<key>gjShLa</key>
	<string>gjS_hL_a.glif</string>
	<key>gjShN</key>
	<string>gjS_hN_.glif</string>
	<key>gjShNa</key>
	<string>gjS_hN_a.glif</string>
	<key>gjShR</key>
	<string>gjS_hR_.glif</string>
	<key>gjShRa</key>
	<string>gjS_hR_a.glif</string>
	<key>gjShV</key>
	<string>gjS_hV_.glif</string>
	<key>gjShVa</key>
	<string>gjS_hV_a.glif</string>
	<key>gjSha</key>
	<string>gjS_ha.glif</string>
	<key>gjSix</key>
	<string>gjS_ix.glif</string>
	<key>gjSix.ss02</key>
	<string>gjS_ix.ss02.glif</string>
	<key>gjSix.ss02.tf</key>
	<string>gjS_ix.ss02.tf.glif</string>
	<key>gjSix.tf</key>
	<string>gjS_ix.tf.glif</string>
	<key>gjSs</key>
	<string>gjS_s.glif</string>
	<key>gjSs.calt</key>
	<string>gjS_s.calt.glif</string>
	<key>gjSsDda</key>
	<string>gjS_sD_da.glif</string>
	<key>gjSsR</key>
	<string>gjS_sR_.glif</string>
	<key>gjSsRa</key>
	<string>gjS_sR_a.glif</string>
	<key>gjSsTta</key>
	<string>gjS_sT_ta.glif</string>
	<key>gjSsTtha</key>
	<string>gjS_sT_tha.glif</string>
	<key>gjSsa</key>
	<string>gjS_sa.glif</string>
	<key>gjT</key>
	<string>gjT_.glif</string>
	<key>gjT.calt</key>
	<string>gjT_.calt.glif</string>
	<key>gjTM</key>
	<string>gjT_M_.glif</string>
	<key>gjTMa</key>
	<string>gjT_M_a.glif</string>
	<key>gjTN</key>
	<string>gjT_N_.glif</string>
	<key>gjTNa</key>
	<string>gjT_N_a.glif</string>
	<key>gjTR</key>
	<string>gjT_R_.glif</string>
	<key>gjTRa</key>
	<string>gjT_R_a.glif</string>
	<key>gjTT</key>
	<string>gjT_T_.glif</string>
	<key>gjTTY</key>
	<string>gjT_T_Y_.glif</string>
	<key>gjTTYa</key>
	<string>gjT_T_Y_a.glif</string>
	<key>gjTTa</key>
	<string>gjT_T_a.glif</string>
	<key>gjTY</key>
	<string>gjT_Y_.glif</string>
	<key>gjTYa</key>
	<string>gjT_Y_a.glif</string>
	<key>gjTa</key>
	<string>gjT_a.glif</string>
	<key>gjTh</key>
	<string>gjT_h.glif</string>
	<key>gjTh.calt</key>
	<string>gjT_h.calt.glif</string>
	<key>gjThR</key>
	<string>gjT_hR_.glif</string>
	<key>gjThRa</key>
	<string>gjT_hR_a.glif</string>
	<key>gjTha</key>
	<string>gjT_ha.glif</string>
	<key>gjThree</key>
	<string>gjT_hree.glif</string>
	<key>gjThree.tf</key>
	<string>gjT_hree.tf.glif</string>
	<key>gjTt</key>
	<string>gjT_t.glif</string>
	<key>gjTtTta</key>
	<string>gjT_tT_ta.glif</string>
	<key>gjTtTtha</key>
	<string>gjT_tT_tha.glif</string>
	<key>gjTtVa</key>
	<string>gjT_tV_a.glif</string>
	<key>gjTta</key>
	<string>gjT_ta.glif</string>
	<key>gjTth</key>
	<string>gjT_th.glif</string>
	<key>gjTthTtha</key>
	<string>gjT_thT_tha.glif</string>
	<key>gjTthY</key>
	<string>gjT_thY_.glif</string>
	<key>gjTthYa</key>
	<string>gjT_thY_a.glif</string>
	<key>gjTtha</key>
	<string>gjT_tha.glif</string>
	<key>gjTwo</key>
	<string>gjT_wo.glif</string>
	<key>gjTwo.tf</key>
	<string>gjT_wo.tf.glif</string>
	<key>gjU</key>
	<string>gjU_.glif</string>
	<key>gjUu</key>
	<string>gjU_u.glif</string>
	<key>gjV</key>
	<string>gjV_.glif</string>
	<key>gjVR</key>
	<string>gjV_R_.glif</string>
	<key>gjVRa</key>
	<string>gjV_R_a.glif</string>
	<key>gjVY</key>
	<string>gjV_Y_.glif</string>
	<key>gjVYa</key>
	<string>gjV_Y_a.glif</string>
	<key>gjVa</key>
	<string>gjV_a.glif</string>
	<key>gjVirama</key>
	<string>gjV_irama.glif</string>
	<key>gjVisarga</key>
	<string>gjV_isarga.glif</string>
	<key>gjVocalicL</key>
	<string>gjV_ocalicL_.glif</string>
	<key>gjVocalicLl</key>
	<string>gjV_ocalicL_l.glif</string>
	<key>gjVocalicR</key>
	<string>gjV_ocalicR_.glif</string>
	<key>gjVocalicRr</key>
	<string>gjV_ocalicR_r.glif</string>
	<key>gjY</key>
	<string>gjY_.glif</string>
	<key>gjY.calt</key>
	<string>gjY_.calt.glif</string>
	<key>gjY.post</key>
	<string>gjY_.post.glif</string>
	<key>gjYa</key>
	<string>gjY_a.glif</string>
	<key>gjYa.post</key>
	<string>gjY_a.post.glif</string>
	<key>gjZero</key>
	<string>gjZ_ero.glif</string>
	<key>gjZero.tf</key>
	<string>gjZ_ero.tf.glif</string>
	<key>grave</key>
	<string>grave.glif</string>
	<key>gravecomb</key>
	<string>gravecomb.glif</string>
	<key>gravecomb.case</key>
	<string>gravecomb.case.glif</string>
	<key>greater</key>
	<string>greater.glif</string>
	<key>greaterequal</key>
	<string>greaterequal.glif</string>
	<key>guillemetleft</key>
	<string>guillemetleft.glif</string>
	<key>guillemetleft.gujr</key>
	<string>guillemetleft.gujr.glif</string>
	<key>guillemetright</key>
	<string>guillemetright.glif</string>
	<key>guillemetright.gujr</key>
	<string>guillemetright.gujr.glif</string>
	<key>guilsinglleft</key>
	<string>guilsinglleft.glif</string>
	<key>guilsinglleft.gujr</key>
	<string>guilsinglleft.gujr.glif</string>
	<key>guilsinglright</key>
	<string>guilsinglright.glif</string>
	<key>guilsinglright.gujr</key>
	<string>guilsinglright.gujr.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>hbar</key>
	<string>hbar.glif</string>
	<key>hcircumflex</key>
	<string>hcircumflex.glif</string>
	<key>hungarumlaut</key>
	<string>hungarumlaut.glif</string>
	<key>hungarumlautcomb</key>
	<string>hungarumlautcomb.glif</string>
	<key>hungarumlautcomb.case</key>
	<string>hungarumlautcomb.case.glif</string>
	<key>hyphen</key>
	<string>hyphen.glif</string>
	<key>hyphen.gujr</key>
	<string>hyphen.gujr.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>iacute</key>
	<string>iacute.glif</string>
	<key>iacute_j.NLD</key>
	<string>iacute_j.N_L_D_.glif</string>
	<key>ibreve</key>
	<string>ibreve.glif</string>
	<key>icircumflex</key>
	<string>icircumflex.glif</string>
	<key>idieresis</key>
	<string>idieresis.glif</string>
	<key>idotaccent</key>
	<string>idotaccent.glif</string>
	<key>igrave</key>
	<string>igrave.glif</string>
	<key>ij</key>
	<string>ij.glif</string>
	<key>imacron</key>
	<string>imacron.glif</string>
	<key>increment</key>
	<string>increment.glif</string>
	<key>infinity</key>
	<string>infinity.glif</string>
	<key>integral</key>
	<string>integral.glif</string>
	<key>iogonek</key>
	<string>iogonek.glif</string>
	<key>itilde</key>
	<string>itilde.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>jacute</key>
	<string>jacute.glif</string>
	<key>jcircumflex</key>
	<string>jcircumflex.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>kcommaaccent</key>
	<string>kcommaaccent.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>lacute</key>
	<string>lacute.glif</string>
	<key>lcaron</key>
	<string>lcaron.glif</string>
	<key>lcommaaccent</key>
	<string>lcommaaccent.glif</string>
	<key>ldot</key>
	<string>ldot.glif</string>
	<key>less</key>
	<string>less.glif</string>
	<key>lessequal</key>
	<string>lessequal.glif</string>
	<key>liraTurkish</key>
	<string>liraT_urkish.glif</string>
	<key>liraTurkish.tf</key>
	<string>liraT_urkish.tf.glif</string>
	<key>literSign</key>
	<string>literS_ign.glif</string>
	<key>logicalnot</key>
	<string>logicalnot.glif</string>
	<key>lozenge</key>
	<string>lozenge.glif</string>
	<key>lslash</key>
	<string>lslash.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>macron</key>
	<string>macron.glif</string>
	<key>macroncomb</key>
	<string>macroncomb.glif</string>
	<key>macroncomb.case</key>
	<string>macroncomb.case.glif</string>
	<key>macroncomb.narrow</key>
	<string>macroncomb.narrow.glif</string>
	<key>micro</key>
	<string>micro.glif</string>
	<key>minus</key>
	<string>minus.glif</string>
	<key>minute</key>
	<string>minute.glif</string>
	<key>mu</key>
	<string>mu.glif</string>
	<key>multiply</key>
	<string>multiply.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>nacute</key>
	<string>nacute.glif</string>
	<key>napostrophe</key>
	<string>napostrophe.glif</string>
	<key>nbspace</key>
	<string>nbspace.glif</string>
	<key>ncaron</key>
	<string>ncaron.glif</string>
	<key>ncommaaccent</key>
	<string>ncommaaccent.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>nine.tf</key>
	<string>nine.tf.glif</string>
	<key>notequal</key>
	<string>notequal.glif</string>
	<key>ntilde</key>
	<string>ntilde.glif</string>
	<key>numbersign</key>
	<string>numbersign.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>oacute</key>
	<string>oacute.glif</string>
	<key>obreve</key>
	<string>obreve.glif</string>
	<key>ocircumflex</key>
	<string>ocircumflex.glif</string>
	<key>odieresis</key>
	<string>odieresis.glif</string>
	<key>oe</key>
	<string>oe.glif</string>
	<key>ogonek</key>
	<string>ogonek.glif</string>
	<key>ogonekcomb</key>
	<string>ogonekcomb.glif</string>
	<key>ograve</key>
	<string>ograve.glif</string>
	<key>ohm</key>
	<string>ohm.glif</string>
	<key>ohungarumlaut</key>
	<string>ohungarumlaut.glif</string>
	<key>omacron</key>
	<string>omacron.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>one.dnom</key>
	<string>one.dnom.glif</string>
	<key>one.numr</key>
	<string>one.numr.glif</string>
	<key>one.tf</key>
	<string>one.tf.glif</string>
	<key>onehalf</key>
	<string>onehalf.glif</string>
	<key>onequarter</key>
	<string>onequarter.glif</string>
	<key>onesuperior</key>
	<string>onesuperior.glif</string>
	<key>ordfeminine</key>
	<string>ordfeminine.glif</string>
	<key>ordmasculine</key>
	<string>ordmasculine.glif</string>
	<key>oslash</key>
	<string>oslash.glif</string>
	<key>otilde</key>
	<string>otilde.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>paragraph</key>
	<string>paragraph.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>parenleft.gujr</key>
	<string>parenleft.gujr.glif</string>
	<key>parenright</key>
	<string>parenright.glif</string>
	<key>parenright.gujr</key>
	<string>parenright.gujr.glif</string>
	<key>partialdiff</key>
	<string>partialdiff.glif</string>
	<key>percent</key>
	<string>percent.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>period.gujr</key>
	<string>period.gujr.glif</string>
	<key>periodcentered</key>
	<string>periodcentered.glif</string>
	<key>periodcentered.gujr</key>
	<string>periodcentered.gujr.glif</string>
	<key>perthousand</key>
	<string>perthousand.glif</string>
	<key>pi</key>
	<string>pi.glif</string>
	<key>plus</key>
	<string>plus.glif</string>
	<key>plusminus</key>
	<string>plusminus.glif</string>
	<key>product</key>
	<string>product.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>question.gujr</key>
	<string>question.gujr.glif</string>
	<key>questiondown</key>
	<string>questiondown.glif</string>
	<key>quotedbl</key>
	<string>quotedbl.glif</string>
	<key>quotedblbase</key>
	<string>quotedblbase.glif</string>
	<key>quotedblleft</key>
	<string>quotedblleft.glif</string>
	<key>quotedblleft.gujr</key>
	<string>quotedblleft.gujr.glif</string>
	<key>quotedblright</key>
	<string>quotedblright.glif</string>
	<key>quotedblright.gujr</key>
	<string>quotedblright.gujr.glif</string>
	<key>quoteleft</key>
	<string>quoteleft.glif</string>
	<key>quoteleft.gujr</key>
	<string>quoteleft.gujr.glif</string>
	<key>quoteright</key>
	<string>quoteright.glif</string>
	<key>quoteright.gujr</key>
	<string>quoteright.gujr.glif</string>
	<key>quotesinglbase</key>
	<string>quotesinglbase.glif</string>
	<key>quotesingle</key>
	<string>quotesingle.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>racute</key>
	<string>racute.glif</string>
	<key>radical</key>
	<string>radical.glif</string>
	<key>rcaron</key>
	<string>rcaron.glif</string>
	<key>rcommaaccent</key>
	<string>rcommaaccent.glif</string>
	<key>registered</key>
	<string>registered.glif</string>
	<key>ring</key>
	<string>ring.glif</string>
	<key>ringcomb</key>
	<string>ringcomb.glif</string>
	<key>ringcomb.case</key>
	<string>ringcomb.case.glif</string>
	<key>ringcomb.case.low</key>
	<string>ringcomb.case.low.glif</string>
	<key>ruble</key>
	<string>ruble.glif</string>
	<key>ruble.tf</key>
	<string>ruble.tf.glif</string>
	<key>rupeeIndian</key>
	<string>rupeeI_ndian.glif</string>
	<key>rupeeIndian.gujr</key>
	<string>rupeeI_ndian.gujr.glif</string>
	<key>rupeeIndian.gujr.tf</key>
	<string>rupeeI_ndian.gujr.tf.glif</string>
	<key>rupeeIndian.tf</key>
	<string>rupeeI_ndian.tf.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>sacute</key>
	<string>sacute.glif</string>
	<key>scaron</key>
	<string>scaron.glif</string>
	<key>scedilla</key>
	<string>scedilla.glif</string>
	<key>schwa</key>
	<string>schwa.glif</string>
	<key>scircumflex</key>
	<string>scircumflex.glif</string>
	<key>scommaaccent</key>
	<string>scommaaccent.glif</string>
	<key>second</key>
	<string>second.glif</string>
	<key>section</key>
	<string>section.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>semicolon.gujr</key>
	<string>semicolon.gujr.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>seven.tf</key>
	<string>seven.tf.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>six.tf</key>
	<string>six.tf.glif</string>
	<key>slash</key>
	<string>slash.glif</string>
	<key>softhyphen</key>
	<string>softhyphen.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>sterling</key>
	<string>sterling.glif</string>
	<key>sterling.tf</key>
	<string>sterling.tf.glif</string>
	<key>summation</key>
	<string>summation.glif</string>
	<key>svastika</key>
	<string>svastika.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>tbar</key>
	<string>tbar.glif</string>
	<key>tcaron</key>
	<string>tcaron.glif</string>
	<key>tcedilla</key>
	<string>tcedilla.glif</string>
	<key>tcommaaccent</key>
	<string>tcommaaccent.glif</string>
	<key>thinspace</key>
	<string>thinspace.glif</string>
	<key>thorn</key>
	<string>thorn.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>three.dnom</key>
	<string>three.dnom.glif</string>
	<key>three.numr</key>
	<string>three.numr.glif</string>
	<key>three.tf</key>
	<string>three.tf.glif</string>
	<key>threequarters</key>
	<string>threequarters.glif</string>
	<key>threesuperior</key>
	<string>threesuperior.glif</string>
	<key>tilde</key>
	<string>tilde.glif</string>
	<key>tildecomb</key>
	<string>tildecomb.glif</string>
	<key>tildecomb.case</key>
	<string>tildecomb.case.glif</string>
	<key>tildecomb.narrow</key>
	<string>tildecomb.narrow.glif</string>
	<key>trademark</key>
	<string>trademark.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>two.dnom</key>
	<string>two.dnom.glif</string>
	<key>two.numr</key>
	<string>two.numr.glif</string>
	<key>two.tf</key>
	<string>two.tf.glif</string>
	<key>twosuperior</key>
	<string>twosuperior.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>uacute</key>
	<string>uacute.glif</string>
	<key>ubreve</key>
	<string>ubreve.glif</string>
	<key>ucircumflex</key>
	<string>ucircumflex.glif</string>
	<key>udieresis</key>
	<string>udieresis.glif</string>
	<key>ugrave</key>
	<string>ugrave.glif</string>
	<key>uhungarumlaut</key>
	<string>uhungarumlaut.glif</string>
	<key>umacron</key>
	<string>umacron.glif</string>
	<key>underscore</key>
	<string>underscore.glif</string>
	<key>uogonek</key>
	<string>uogonek.glif</string>
	<key>uring</key>
	<string>uring.glif</string>
	<key>utilde</key>
	<string>utilde.glif</string>
	<key>v</key>
	<string>v.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>wacute</key>
	<string>wacute.glif</string>
	<key>wcircumflex</key>
	<string>wcircumflex.glif</string>
	<key>wdieresis</key>
	<string>wdieresis.glif</string>
	<key>wgrave</key>
	<string>wgrave.glif</string>
	<key>x</key>
	<string>x.glif</string>
	<key>y</key>
	<string>y.glif</string>
	<key>yacute</key>
	<string>yacute.glif</string>
	<key>ycircumflex</key>
	<string>ycircumflex.glif</string>
	<key>ydieresis</key>
	<string>ydieresis.glif</string>
	<key>yen</key>
	<string>yen.glif</string>
	<key>yen.tf</key>
	<string>yen.tf.glif</string>
	<key>ygrave</key>
	<string>ygrave.glif</string>
	<key>z</key>
	<string>z.glif</string>
	<key>zacute</key>
	<string>zacute.glif</string>
	<key>zcaron</key>
	<string>zcaron.glif</string>
	<key>zdotaccent</key>
	<string>zdotaccent.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
	<key>zero.tf</key>
	<string>zero.tf.glif</string>
	<key>zerowidthjoiner</key>
	<string>zerowidthjoiner.glif</string>
	<key>zerowidthnonjoiner</key>
	<string>zerowidthnonjoiner.glif</string>
</dict>
</plist>
