<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>2014</integer>
	<key>capHeight</key>
	<integer>1562</integer>
	<key>copyright</key>
	<string>Copyright (c) 2015 by Rosetta Type Foundry s.r.o. (info@rosettatype.com).</string>
	<key>descender</key>
	<integer>-560</integer>
	<key>familyName</key>
	<string>Rasa</string>
	<key>openTypeHeadCreated</key>
	<string>2016/01/10 18:34:15</string>
	<key>openTypeHheaAscender</key>
	<integer>2300</integer>
	<key>openTypeHheaDescender</key>
	<integer>-1050</integer>
	<key>openTypeHheaLineGap</key>
	<integer>0</integer>
	<key>openTypeNameDesigner</key>
	<string>Anna Giedryś, David Březina</string>
	<key>openTypeNameDesignerURL</key>
	<string>http://rosettatype.com</string>
	<key>openTypeNameManufacturer</key>
	<string>Rosetta Type Foundry</string>
	<key>openTypeNameManufacturerURL</key>
	<string>http://rosettatype.com</string>
	<key>openTypeNamePreferredFamilyName</key>
	<string>Rasa</string>
	<key>openTypeNamePreferredSubfamilyName</key>
	<string>Light</string>
	<key>openTypeOS2TypoAscender</key>
	<integer>2000</integer>
	<key>openTypeOS2TypoDescender</key>
	<integer>-750</integer>
	<key>openTypeOS2TypoLineGap</key>
	<integer>600</integer>
	<key>openTypeOS2VendorID</key>
	<string> RST</string>
	<key>openTypeOS2WeightClass</key>
	<integer>300</integer>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>openTypeOS2WinAscent</key>
	<integer>2300</integer>
	<key>openTypeOS2WinDescent</key>
	<integer>1050</integer>
	<key>postscriptBlueValues</key>
	<array>
		<integer>-35</integer>
		<integer>0</integer>
		<integer>1137</integer>
		<integer>1168</integer>
		<integer>1375</integer>
		<integer>1437</integer>
		<integer>1562</integer>
		<integer>1597</integer>
		<integer>1737</integer>
		<integer>1799</integer>
	</array>
	<key>postscriptOtherBlues</key>
	<array>
		<integer>-560</integer>
		<integer>-496</integer>
		<integer>2001</integer>
		<integer>2014</integer>
	</array>
	<key>postscriptStemSnapH</key>
	<array>
		<integer>213</integer>
		<integer>155</integer>
		<integer>183</integer>
		<integer>144</integer>
		<integer>235</integer>
	</array>
	<key>postscriptStemSnapV</key>
	<array>
		<integer>380</integer>
		<integer>361</integer>
		<integer>416</integer>
		<integer>390</integer>
		<integer>316</integer>
	</array>
	<key>postscriptUnderlinePosition</key>
	<integer>-190</integer>
	<key>postscriptUnderlineThickness</key>
	<integer>150</integer>
	<key>styleMapFamilyName</key>
	<string>Rasa Light</string>
	<key>styleMapStyleName</key>
	<string>regular</string>
	<key>styleName</key>
	<string>Light</string>
	<key>trademark</key>
	<string>Yrsa and Rasa are trademarks of Rosetta Type Foundry</string>
	<key>unitsPerEm</key>
	<integer>2750</integer>
	<key>versionMajor</key>
	<integer>1</integer>
	<key>versionMinor</key>
	<integer>0</integer>
	<key>xHeight</key>
	<integer>1137</integer>
</dict>
</plist>
